<style>
    .pending-homepage{
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #E3E3E3;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding:20px;
    }

    .homepage-block{
        background-color: #1D3C91;
        color: white;
        margin: 12px 42px 12px 42px;
        padding: 15px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .pending-details{
        font-weight: 900;
    }
    .rev-btn-col{
        color: white;
    }
    .rev-btn-col:hover{
        color: white;
        background: #e0a800;
    }
    
    .homepage-block:hover{
        background: #0a256e;
    }

</style>

<div class="container-fluid">
    <div class="pending-homepage row">
        <h1>Items Pending Your Approvals</h1>
        <hr>

        <%= render partial: "pending_approval", locals: {pending_approvals: @pending_approvals} %>
        
    </div>
    <hr>

    <div class="pending-homepage row">
        <h1>Confirmation Log</h1>
        <hr>

        <%= render partial: "confirmation_log", locals: {recent_audit_logs: @recent_audit_logs} %>
    
    
    </div>
</div>