<style>
    .jumbotron {
    padding: 2rem 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    margin: 10px;
    }

    .centre{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .margin-employee-btn{
        margin:15px;
    }
</style>

<div class="container-fluid">
    <div class="row centre">
        <% if @pending_audit_confirmations.count > 0 %>
            <div class="jumbotron">
                <%= render partial: "pending_audit_confirmations", locals: {pending_audit_confirmations: @pending_audit_confirmations}%>
            </div>
        <% end %>

        <div class="jumbotron">
            <%= link_to "Request Overtime !", new_post_path, class:"btn btn-primary form-control btn-lg"%>
        </div>
    </div>
</div>