<br/>
<div class="jumbotron" style=" background-color: whitesmoke; padding: 15px; border-radius: 15px; border: 1px solid #d8d8d8; ">
    <h2>
        Hello, world!
    </h2>
    <p>
        This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
    </p>
    <p>
        <a class="btn btn-primary btn-large" href="#">Learn more</a>
    </p>
</div>
